<!-- layouts/partials/math.html -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-oP6HI9z1XaZNBrJURtCo8zYkz6YQME9ALlPZk5uQpK/rEM0t6I5yktK1cOQ0Epee" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-VZLEcGOQhm2EB0LE01hMoRk6wN8Bhl7D7BXChe9YESGvSUocCaQi6ZHRP9csL2h2" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQG7ApwFlnN7Qz2TeKpFjK2kNe9iI1xgmBxCEWWC3ZnIZoxYdQS2QyL6Q7l"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body, {delimiters:[{left:'$$', right:'$$', display:true},{left:'\\(', right:'\\)', display:false}]});"></script>

